body {
  /* Positioning */
  margin-bottom: 150px;

  /* Typography */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  /* Visual */
  background-color: #ededed;
}

/* Media query for body */
@media only screen and (max-width: 767px) {
  /* Set background color to white on small screens */
  body {
    /* Visual */
    background-color: #fff;
  }
}

.description-header {
  /* Positioning */
  margin-bottom: 33px;
  font-family: Arial, Helvetica, sans-serif;

  /* Typography */
  font-size: 32px;
  font-weight: bold;
  color: #103570;
}

.description-content {
  /* Box-model */
  padding: 30px;

  /* Positioning */
  margin-top: 32px;

  /* Visual */
  background-color: #fff;
}

.description-content > p {
  /* Box-model */
  padding-top: 20px;

  /* Typography */
  font-size: 16px;
  line-height: 30px;
  color: slategray;
}

.description-text {
  padding-bottom: 20px;
}

#description-image {
  /* Positioning */
  float: left;

  /* Box-model */
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-right: 20px;
}

#imageNav-area {
  width: 100%;

  /* Box-model */
  padding: 30px 30px 43px;

  /* Positioning */
  margin-top: 32px;

  /* Visual */
  background-color: #fff;
}

.imageNav-header {
  /* Positioning */
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;

  /* Typography */
  font-size: 25px;
  font-weight: bold;
  color: #103570;
}

.imageNav-photo {
  width: 140px;

  /* Box-model */
  height: 140px;
}

.imageNav-photo:hover {
  /* Visuals */
  opacity: 0.6;
}

.imageNav-photo.active {
  /* Visuals */
  border: 2px solid #4aaaa5;
}

#images {
  /* Box-model */
  padding-top: 15px;

  /* Typography */
  text-align: center;
}

.navbar-color {
	background-color: #103570;
}

.nav-white {
	color:#ffffff !important;
}
